<div style="margin-bottom: 16px;">
  <button nz-button [disabled]="_disabledButton" [nzType]="'primary'" [nzLoading]="_operating" (click)="_operateData()">Operating</button>
  <span style="margin-left: 8px;" *ngIf="_checkedNumber">Selected {{_checkedNumber}} items</span>
</div>
<nz-table #nzTable [nzDataSource]="_dataSet"
          [nzPageSize]="pagenum"
          [nzPageIndex]="1"
          [nzTotal]="dataTotal"
          nzSize="small"
          (nzDataChange)="_displayDataChange($event)"
          (nzPageIndexChange)="_refreshStatus()"
          (nzPageSizeChange)="_refreshStatus()"
          [nzLoading]="tableLoading"
          [nzIsPagination]="true"
          >
  <thead nz-thead>
  <tr>
    <th nz-th [nzCheckbox]="true">
      <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
      </label>
    </th>
    <th class="headerCenter" nz-th *ngFor="let col of _columnData"><span>{{col}}</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <!--<tr nz-tbody-tr *ngFor="let data of nzTable.data">-->
  <!--<tr nz-tbody-tr *ngFor="let data of _dataSet">-->
  <tr nz-tbody-tr *ngFor="let data of nzTable.data">
    <td nz-td [nzCheckbox]="true">
      <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)">
      </label>
    </td>
    <td nz-td>{{data.id}}</td>
    <td nz-td>{{data.title}}</td>
    <td nz-td>{{data.content}}</td>
    <td nz-td>{{data.author}}</td>
    <!--<td nz-td>-->
        <!--<span [style.backgroundColor]="data.isProxy == '是' ? 'red' : 'blue'" class="square" class="label label-info">{{data.isProxy}}</span>-->
    <!--</td>-->
    <!--<td nz-td>{{data.role}}</td>-->
    <!--<td nz-td>{{data.registerTime}}</td>-->
    <td nz-td>
      <nz-dropdown-button  style="float: none;" nzSize="small">
        操作
        <ul nz-menu>
          <li nz-menu-item>
            <a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">设置代理商</a>
          </li>
          <li nz-menu-item>
            <a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">设置角色</a>
          </li>
          <li nz-menu-item>
            <a rel="noopener noreferrer" (click)="edit(data)">编辑</a>
          </li>
          <li nz-menu-item>
            <a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">重设密码</a>
          </li>
        </ul>
      </nz-dropdown-button>
    </td>
  </tr>
  </tbody>
</nz-table>
